.sell-page {
    display: flex;
    height: 100%;
    justify-content: center;

    background: #15185a;
}

@media screen and (max-device-width: 2560px) {
    .sell-page {
        display: flex;
        height: 70REM;
        justify-content: center;
        background: #15185a;
    }

}

@media screen and (max-device-width: 1440px) {
    .sell-page {
        display: flex;
        height: 50rem;
        justify-content: center;
        padding-top: 6rem;
        background: #15185a;
    }
}

@media screen and (max-device-width: 768px) {
    .sell-page {
        height: 38rem;
        padding-top: 3rem;

    }
}

@media screen and (max-device-width: 425px) {
    .sell-page {
        height: 46rem;
        padding-top: 3rem;
    }
}


@media screen and (max-device-width: 2560px) {
    .sell-page .wrapper {
        height: 500px;
        width: 30%;
        display: flex;

    }
}

@media screen and (max-device-width: 1440px) {
    .sell-page .wrapper {
        height: 500px;
        width: 35%;
        display: flex;

    }
}
@media screen and (max-device-width: 768px) {
    .sell-page .wrapper {
        width: 52%;
    }
}
@media screen and (max-device-width: 420px) {
    .sell-page .wrapper {
        width: unset;

    }
}
@media screen and (max-device-width: 320px) {
    .sell-page .wrapper {
        width: unset;
    }
}
.sell-page details {
    display: flex;
    justify-content: center;
}

.sell-page form {
    display: flex;
    flex-direction: column;
}



@media screen and (max-device-width: 2560px) {
    .sell-page input {
        width: 31rem;
        height: 4.2rem;
        border-width: 2px;
        border: 2px solid #002f34;
        border-radius: 1px;
        font-size: 21px;
        margin-bottom: 1rem;
        padding-left: 10px;
        background: white;
    }
}

@media screen and (max-device-width: 1440px) {
    .sell-page input {
        width: 18rem;
        height: 2.2rem;
        border-width: 2px;
        border: 2px solid #002f34;
        border-radius: 1px;
        font-size: 15px;
        margin-bottom: 1rem;
        padding-left: 10px;
        background: white;
    }
}

@media screen and (max-device-width: 768px) {
    .sell-page input {
        width: 14rem;
        height: 2rem;
        border-width: 2px;
        border: 2px solid #002f34;
        border-radius: 1px;
        font-size: 11px;
        margin-bottom: 0.6rem;
        padding-left: 10px;
        background: white;
    }
}


@media screen and (max-device-width: 2560px) {
    .sell-page textarea {
        width: 31rem;
        height: 4.2rem;
        border-width: 2px;
        border: 2px solid #002f34;
        border-radius: 1px;
        font-size: 21px;
        margin-bottom: 1rem;
        padding-left: 10px;
        background: white;
    }
}

@media screen and (max-device-width: 1440px) {
    .sell-page textarea {
        width: 18rem;
        height: 2.2rem;
        border-width: 2px;
        border: 2px solid #002f34;
        border-radius: 1px;
        font-size: 15px;
        margin-bottom: 1rem;
        padding-left: 10px;
    }
}

@media screen and (max-device-width: 768px) {
    .sell-page textarea {
        width: 14rem;
        height: 2rem;
        border-width: 2px;
        border: 2px solid #002f34;
        border-radius: 1px;
        font-size: 11px;
        margin-bottom: 0.6rem;
        padding-left: 10px;
        background: white;
    }
}


.sell-page .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sell-page .details {
    margin-top: 40px;
    margin-bottom: 8px;
}



@media screen and (max-device-width: 2560px) {
    .sell-page button {
        width: 10rem;
        height: 3rem;
        border-radius: 4px;
        font-size: 20px;
        margin-top: 3rem;
    }
}

@media screen and (max-device-width: 1440px) {
    .sell-page button {
        width: 8rem;
        height: 2.4rem;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 0rem;
    }
}
@media screen and (max-device-width: 768px) {
    .sell-page button {
        width: 5rem;
        height: 2rem;
        border-radius: 4px;
        font-size: 11px;
    }
}



@media screen and (max-device-width: 2560px) {
    .sell-page .footer {
        font-size: 17px;
        color: bisque;
        margin-top: 2rem;
    }
}

@media screen and (max-device-width: 1440px) {
    .sell-page .footer {
        margin-top: 13px;
        color: wheat;
        font-size: 12px;
    }
}

@media screen and (max-device-width: 768px) {
    .sell-page .footer {
        font-size: 10px;
    }
}

@media screen and (max-device-width: 2560px) {
    .top svg {
        height: 10rem;
        width: 10rem;
        fill: white;
    }
}

@media screen and (max-device-width: 1440px) {
    .top svg {
        height: 8rem;
        width: 8rem;
        fill: white;
    }
}

@media screen and (max-device-width: 768px) {
    .top svg {
        height: 5rem;
        width: 5rem;
    }
}


@media screen and (max-device-width: 2560px) {
    .top h3 {
        font-size: 24px;
        color: antiquewhite;
    }
}

@media screen and (max-device-width: 1440px) {
    .top h3 {
        font-size: 20px;
        color: antiquewhite;
    }
}

@media screen and (max-device-width: 768px) {
    .top h3 {
        font-size: 13px;
        color: antiquewhite;
    }
}