
.navbar{
    background-color: rgba(0,47,52,.04);
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
 
}
.logo{
    padding-left: 2rem;
}
select{
    width: 15rem;
    height: 3rem;
    border-width: 2px;
    border: 2px solid #002f34;
    border-radius: 4px;
}
.dropdown{
    margin-left: 1rem;
}
.navbar input{
    width: 40rem;
    height: 2.7rem;
    border-width: 2px;
    border: 2px solid #002f34;
    border-radius: 4px;
    font-size: 17px;
}
.search-bar{
    padding-left: 1rem; 
    display: flex;
    align-items: center;
}
.search{
    background: #002f34;
    height: 49px;
    width: 48px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    margin-left: 38rem;
    justify-content: center;
}
.country-search{
    display: flex;
    position: absolute;
    margin: 10px 10px 10px 10px;
}
.right{
    display: flex;
    margin-left: 2rem;
}