.navbar {
    background-color: rgba(0, 47, 52, .04);
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    color: #002f34;
}

@media screen and (max-device-width: 425px) {
    .navbar {
        height: 60px;
        position: fixed;
    }
}


.logo {
    padding-left: 2rem;
}

@media screen and (max-device-width: 425px) {
    .logo {
        padding-left: 0.2rem;
    }
}

@media screen and (max-device-width: 425px) {
    .logo svg {
        height: 2.4rem;
    }
}

.dropdown {
    width: 15rem;
    height: 3rem;
    border-width: 2px;
    border: 2px solid #002f34;
    border-radius: 4px;
    background-color: #fff;
}

select .visible {
    visibility: unset;
}

select .unvisible {
    visibility: hidden;
}

.dropdown {
    margin-left: 1rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

@media screen and (max-device-width: 425px) {
    .dropdown {
        display: none;
    }
}

.dropdown:focus-within {
    border-color: #69c8ff;
    outline: none;
}

.dropdown input {
    height: 44px;
    border: none;
    width: 153px;
    font-size: 17px;
    padding-left: 13px;
}

.country-search {
    display: flex;
    position: absolute;
    align-items: center;
    margin: 3px 10px 10px 10px;
}

.default {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);
    padding-top: 8px;
}

.arrow {
    transition: transform .3s ease-in-out;
    transform: rotate(180deg);
    padding-top: 8px;
}

.options {
    margin-top: 3.2rem;
    width: 15rem;
    height: 14rem;
    background: #ffff;
    z-index: 13;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.locations {
    display: grid;
}

.locations .title {
    text-align: left;
    font-size: 14px;
    color: #484848;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.locations .list {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
}

.locations .span {
    margin-right: 5px;
}

.locations .list p {
    height: 51px;
    width: 14rem;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.locations .list p:hover {
    background: #c8f8f6;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.search-bar input {
    width: 40rem;
    height: 2.7rem;
    border-width: 2px;
    border: 2px solid #002f34;
    border-radius: 4px;
    font-size: 17px;
    padding-left: 7px;
}

.navbar input:focus-within {
    border-color: #69c8ff;
    outline: none;
}

.search-bar {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

@media screen and (max-device-width: 425px) {
    .search-bar {
        padding-left: 0rem;
    }
}


@media screen and (max-device-width: 425px) {
    .search-bar input {
        padding-left: 0rem;
        display: none;
    }
}

.search {
    background: #002f34;
    height: 47px;
    width: 48px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    margin-left: 38rem;
    justify-content: center;
}

@media screen and (max-device-width: 425px) {
    .search {
        height: 22px;
        width: 22px;
        position: unset;
        margin: 0px 4px;
    }
}

@media screen and (max-device-width: 425px) {
    .search svg {
        height: 17px;

    }
}


.right {
    display: flex;
    margin-left: 2rem;
    align-items: center;
}

@media screen and (max-device-width: 425px) {
    .right {
        margin-left: 0rem;
        right: 1px;
        position: fixed;
    }
}

.right svg {
    height: 1.5rem;
}

.right p {
    font-size: 15px;
    font-weight: 700;
    margin-right: 0.5rem;
}

@media screen and (max-device-width: 425px) {
    .right p {
        font-size: 10px;
    }
}

.right a {
    font-size: 19px;
    font-weight: 650;
    text-decoration: none;
    color: #002f34;
    margin-left: 2rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

@media screen and (max-device-width : 425px) {
    .right a {
        font-size: 13px;
        font-weight: 650;
        text-decoration: none;
        color: #002f34;
        display: flex;
        margin-left: unset;
        margin-right: unset;
        align-items: center;
    }
}

.account {
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.account svg {
    height: 1rem;
    margin-top: 4px;
}

.account div {
    max-width: 10rem;
    background: #f5f7f7;
    height: 2rem;
    width: 6.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    position: absolute;
    font-weight: 500;
    margin-top: 2.3rem;
    cursor: pointer;
    padding: 4px;
}

@media screen and (max-device-width : 425px) {
    .account div {
        max-width: 10rem;
        background: #f5f7f7;
        height: rem;
        width: 5.1rem;
        display: flex;
        font-size: 13px;
        position: absolute;
        font-weight: 500;
        margin-top: 1.4rem;
        cursor: pointer;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }
}

.account div:hover {
    background: rgb(102, 240, 240);
}

.right span {
    font-weight: 700;
    margin-right: 0.3rem;
}

.underline {
    background-image: linear-gradient(#000000 0 0);
    background-position: bottom center;
    background-size: 95% 2px;
    background-repeat: no-repeat;
    padding-bottom: 3px;
}

.underline:hover {
    background-image: unset;
}

.navbar svg .left {
    fill: #ffce32;
}

.navbar svg .top {
    fill: #23e5db;
}

.navbar svg .right {
    fill: #3a77ff;
}

.navbar svg .all {
    fill: white;
}

._3V9PS {
    filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.4));
}

.sell {
    z-index: 10;
    display: flex;
    position: absolute;
    margin-left: 13rem;
    align-items: center;
}

@media screen and (max-device-width: 425px) {
    .sell {
        position: unset;
        margin-left: 0rem;
        margin: 0px 8px;
    }
}

@media screen and (max-device-width: 425px) {
    .sell-title {
        display: flex;
        z-index: inherit;
        align-items: center;
        margin-right: -3rem;

    }
}

.sell svg {
    height: 25px;
}

@media screen and (max-device-width: 425px) {
    .sell svg {
        height: 25px;
    }
}

.sell-title svg {
    height: 11px;
}

@media screen and (max-device-width: 425px) {
    .sell-title svg {
        height: 11px;
    }
}


.sell p {
    margin-left: 6px;
}

@media screen and (max-device-width: 425px) {
    .sell p {
        margin-left: unset;
    }
}


.test {
    background: aqua;
    height: 241px;
    margin: 2rem;
    width: 10rem
}