.footer {
    width: 100%;

}

.about {
    display: flex;
    background: #ebeeef;
    padding: 28px 57px 10px;
    justify-content: space-evenly;
}

@media screen and (max-device-width: 425px) {
    .about {

        display: flex;
        flex-flow: row wrap;
        padding: 28px 16px 10px;
        justify-content: space-between;
    }
}

.column {
    display: grid;
    justify-items: start;
    margin-bottom: 11px;

}

.column span {
    color: #002f34;
    font-size: 15px;
    font-weight: 500;
}
@media screen and (max-device-width: 2560px) {
    .column span {
        font-size: 17px;
    }
}
@media screen and (max-device-width: 1440px) {
    .column span {
        font-size: 13px;
    }
}

@media screen and (max-device-width: 425px) {
    .column span {
        font-size: 11px;
    }
}

.column p {
    font-size: 13px;
}

@media screen and (max-device-width: 2560px) {
    .column p {
        font-size: 13px;
    }
}
@media screen and (max-device-width: 1440px) {
    .column p {
        font-size: 13px;
    }
}


@media screen and (max-device-width: 425px) {
    .column p {
        font-size: 11px;
    }
}

.copyright {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    background: #002f34;
    height: 20px;
    padding: 17px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-device-width:2560px) {
    .copyright {
        height: 40px;
    }
}
@media screen and (max-device-width:1440px) {
    .copyright {
        height: 15px;
    }
}

@media screen and (max-device-width: 425px) {
    .copyright {
        padding: 9px 60px;
        flex-direction: column;
        height: auto;
    }
}
@media screen and (max-device-width:2560px) {
    .copyright p{
       font-size: 13px;
    }
}
@media screen and (max-device-width:1440px) {
    .copyright p{
       font-size: 12px;
    }
}
.copyright span {
    font-weight: 600;
}