.banner {
    width: 100%;
    padding-top: 3.7rem;
    height: auto;
}

@media screen and (max-device-width: 2560px) {
    .banner {
        padding-top: 4.7rem;

    }
}
@media screen and (max-device-width: 1440px) {
    .banner {
        padding-top: 4.3rem;
    }
}
@media screen and (max-device-width: 768px) {
    .banner {
        padding-top: 4.7rem;
    }
}
@media screen and (max-device-width: 425px) {
    .banner {
        padding-top: 3.7rem;
    }
}

.categories {
    float: left;
    align-items: center;
    padding: 0px 20px 0px 27px;
    display: flex;

}

.items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.category-list {
    height: 40px;
    FONT-SIZE: 15px;
    display: flex;
}

@media screen and (max-device-width: 2560px) {
    .category-list {
        FONT-SIZE: 14px;
    }
}

@media screen and (max-device-width: 1440px) {
    .category-list {
        FONT-SIZE: 11px;
    }
}
@media screen and (max-device-width: 1024px) {
    .category-list {
        FONT-SIZE: 11px;
    }
}
@media screen and (max-device-width: 768px) {
    .category-list {
        display: none;
    }
}

@media screen and (max-device-width: 425px) {
    .category-list {
        display: none;
    }
}

.items p {
    margin-right: 23px;
}

.category-list h4 {
    font-size: 14px;
}

.banner img {
    width: 100%;
}

.image {
    background-image: url('../assets/banner_poster.webp');
    background-position-x: center;
    background-size: cover;
    height: 11rem;
    width: 100%;
}

@media screen and (max-device-width: 2560px) {
    .image {
        background-position-x: right;
        height: 18rem;

    }
}

@media screen and (max-device-width: 1440px) {
    .image {
        background-position-x: right;
        height: 16rem;

    }
}

@media screen and (max-device-width: 425px) {
    .image {
        background-position-x: right;
        height: 11rem;
    }
}